################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ban/bin/Debug
/Ban/obj/Debug
/.vs/Ban/v17
/packages
